<div class="row">                        
  <div class="col-lg-12">
    <fieldset class="bord" style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px; width: 750px;">                
      <legend><i class="fa fa-building"></i>&nbsp;Documentación Técnica</legend> 
      <div class="row" style="margin-left: 10px;margin-right: 10px;">
        <div class="col-md-12" style="height: 500px;">                           
         <div style=" overflow-x: hidden; height: 450px;">
            <table id="example2" class="table table-bordered table-striped table-hover" style="font-size: 12px">
                <thead>
                    <tr>													
                        <th>Item</th>                                    
                        <th>Tipo de Documento</th>                                                        
                        <th>Nro. Documento</th>                         
                    </tr>
                </thead> 
                <tbody>
                    <ng-container>												
                        <tr *ngFor="let list of listado" >
                          <td>{{ list.item }} </td>
                          <td> 
                             <p *ngIf="list.tipo_documento=='1'" >PLANO PERMIMETRICO</p>
                             <p *ngIf="list.tipo_documento=='2'" >PLANO DIAGNOSTICO</p>
                             <p *ngIf="list.tipo_documento=='3'" >MEMORIA DESCRIPTIVA</p>
                             <p *ngIf="list.tipo_documento=='4'" >VALORIZACIÓN SBN</p>                             
                          </td>
                          <td>{{ list.num_documento }} </td>                           
                        </tr>
                    </ng-container>                    
                </tbody>		                       
            </table>           
         </div>
        </div>
    </div>          
    </fieldset>  
  </div>
</div>