
<div class="row">                        
  <div class="col-lg-12">
    <fieldset style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;">                
      <div class="row">                              
          <div class="col-lg-6">
            <table style="margin-top: 15px;margin-left: 5px;width: 100%;margin-bottom: 15px;">
              <tr><td>Tipo de Zona</td></tr> 
              <tr>
                 <td>
                  <select id="cars" class="form-control" >
                    <option value="">--Tipo--</option>
                    <option value="volvo">Calle</option>                       
                    <option value="volvo">Avenida</option>
                    <option value="volvo">Jirón</option>
                  </select>
                 </td>
              </tr> 
            </table>            
          </div>
          <div class="col-lg-6" >          
            <table style="margin-top: 15px;width: 99%;">
            <tr><td>Tipo de Terreno</td></tr> 
            <tr>
              <td>
                <select id="cars" class="form-control">
                  <option value="">--Tipo--</option>
                  <option value="volvo">Calle</option>                       
                  <option value="volvo">Avenida</option>
                  <option value="volvo">Jirón</option>
                </select>
              </td>
          </tr> 
          </table>
          </div>                          
      </div>                
    </fieldset> 
    <br>
    <fieldset style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;">                
      <div class="row" style="height: 70px;">                              
          <div class="col-lg-4">
            <table style="margin-top: 15px;margin-left: 5px;width: 100%;margin-bottom: 15px;">
              <tr><td>Uso Genérico</td></tr> 
              <tr>
                 <td>
                  <select id="cars" class="form-control" >
                    <option value="">--Tipo--</option>
                    <option value="volvo">Calle</option>                       
                    <option value="volvo">Avenida</option>
                    <option value="volvo">Jirón</option>
                  </select>
                 </td>
              </tr> 
            </table>            
          </div>
          <div class="col-lg-4" >          
            <table style="margin-top: 15px;width: 100%;">
            <tr><td>Uso Específico</td></tr> 
            <tr>
              <td>
                <select id="cars" class="form-control">
                  <option value="">--Tipo--</option>
                  <option value="volvo">Calle</option>                       
                  <option value="volvo">Avenida</option>
                  <option value="volvo">Jirón</option>
                </select>
              </td>
          </tr> 
          </table>
          </div> 
          <div class="col-lg-4" >          
            <table style="margin-top: 15px;width: 99%;">
            <tr><td>Zonificación</td></tr> 
            <tr>
              <td>
                <input type="text" class="form-control">
              </td>
          </tr> 
          </table>
          </div>                         
      </div> 
      <div class="row">                              
        <div class="col-lg-8">
          <table style="margin-top: 15px;margin-left: 5px;width: 100%;margin-bottom: 15px;">
            <tr><td>Potencialidad de Uso</td></tr> 
            <tr>
               <td>
                <select id="cars" class="form-control" >
                  <option value="">--Tipo--</option>
                  <option value="volvo">Calle</option>                       
                  <option value="volvo">Avenida</option>
                  <option value="volvo">Jirón</option>
                </select>
               </td>
            </tr> 
          </table>            
        </div>
        <div class="col-lg-4">
          <table style="margin-top: 15px;margin-left: 5px;width: 96%;margin-bottom: 15px;">
            <tr><td>Plano</td></tr> 
            <tr>
               <td>
                <input type="text" class="form-control">
               </td>
            </tr> 
          </table>            
        </div>   
      </div>             
    </fieldset> 
    <br>
    <fieldset style="margin-left: 10px;margin-right: 10px;margin-bottom: 10px;">                
      <div class="row" style="height: 70px;">                              
        <div class="col-lg-12">
          <table style="margin-top: 15px;margin-left: 5px;width: 98%;margin-bottom: 15px;">
            <tr><td>Ocupante</td></tr> 
            <tr>
               <td>
                <select id="cars" class="form-control" >
                  <option value="">--Tipo--</option>
                  <option value="volvo">Calle</option>                       
                  <option value="volvo">Avenida</option>
                  <option value="volvo">Jirón</option>
                </select>
               </td>
            </tr> 
          </table>            
        </div>
          
      </div> 
      <div class="row">                              
          <div class="col-lg-6">
            <table style="margin-top: 15px;margin-left: 5px;width: 98%;margin-bottom: 15px;">
              <tr><td>Desocupación Parcial</td></tr> 
              <tr>
                 <td>
                  <select id="cars" class="form-control" >
                    <option value="">--Tipo--</option>
                    <option value="volvo">Calle</option>                       
                    <option value="volvo">Avenida</option>
                    <option value="volvo">Jirón</option>
                  </select>
                 </td>
              </tr> 
            </table>            
          </div>
          <div class="col-lg-6" >          
            <table style="margin-top: 15px;width: 98%;">
            <tr><td>Área Desocupada</td></tr> 
            <tr>
              <td>
                <input type="text" class="form-control">
              </td>
          </tr> 
          </table>
          </div>                                   
      </div>                  
    </fieldset> 
  </div>
</div>
